*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Baloo Thambi 2', cursive;
}
body {
    height: 100%;
    width:100%;
    background-color:#b7efcd;
}

.pageTitle h2 {
    text-align: center;
    font-size: 3rem;
    display: inline-block;
    margin: 0px 10px;
    text-transform: uppercase;
}

.pageTitle{
    padding: 2vh 0;
    text-align: center;
    background-color: #4cd3c2;
    color:#363636;
}
button{
    border: 0;
}
.addButton{
    display: flex;
    justify-content: flex-end;
    margin-left:2vw;
    background-color:#363636;
    color:#4cd3c2;
    font-size: 1.4rem;
    padding:0 .5rem;
}

main {
    padding: 5vh 0;
    margin: 0vh auto;
    max-width: 60vw;
    min-height: 88vh;
    background-color: #ffbcbc;
}

.addbook {
    display: block;
    background-color: #363636;
    color: #4cd3c2;
}
.formbackground{
     background-color: #363636;
     color: #4cd3c2;
}
.hidebook{
    display: none;
}
.books{
   margin: 5vh 0px; 
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 2vw;
    grid-row-gap: 2vh;
}

.book{
    padding: 1rem;
    background-color: #4cd3c2;
    border: 2px solid #363636;
    color: #363636;
}
.book-title {
    text-transform: uppercase;
    font-size: 1.8rem;
}

.author {
    text-transform: capitalize;
    font-size: 1.3rem;
    
}

.pages {
    text-transform: capitalize;
    font-size: 1.3rem;
}

.read {
    text-transform: capitalize;
    font-size: 1.3rem;
}

.delButton {
    text-transform: capitalize;
    font-size: 1.2rem;
    background-color:#363636;
    color: #ffbcbc;
    padding: 0 .5rem;
}

.plus {
 margin: auto .5rem;
}

form {
    margin: 2vh auto;
    padding: 1rem 0;
}
input[type="text"]
{
    font-size:1.2rem;
}
.submitButton {
    display: block;
    font-size: 1.3rem;
    text-transform: uppercase;
    background-color:#4cd3c2;
    color:#363636;
    margin: 2vh auto;
    padding: 0 .5rem;
}

.book-detail {
    display: flex;
    justify-content:space-around;
    font-size: 1.4rem;
}


